/*--root css--*/
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

@import "~/assets/css/libraries/bootstrap.scss";

@import "./component/variable";
@import "./component/header";
@import "./component/footer";
@import "./component/media_query";
@import "./component/section";

// ******************** global scss #########################

html {
	overflow-x: hidden;
	font-family: $font-family_1;
	font-size: 16px;
	padding: 0 !important;
	margin: 0;
}
body {
	overflow-x: hidden;
	font-family: $font-family_1;
	font-size: 16px;
	padding: 0 !important;
	margin: 0;
}
p {
	font-size: 16px;
	color: $color_2;
	line-height: 25px;
	margin-bottom: 10px;
	font-family: $font-family_1;
}
ul {
	li {
		font-size: 16px;
		color: $color_2;
		line-height: 25px;
		margin-bottom: 10px;
		font-family: $font-family_1;
		list-style: none;
		padding: 0;
		margin-bottom: 10px;
	}
	padding: 0 !important;
	padding: 0;
	margin: 0;
	i {
		padding-right: 12px;
		color: $color_3;
	}
}
span {
	font-size: 16px;
	color: $color_2;
	line-height: 25px;
	margin-bottom: 10px;
	font-family: $font-family_1;
}
a {
	text-decoration: none !important;
	color: $color_3;
}
h1 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h2 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h3 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h4 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h5 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h6 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
strong {
	font-weight: 600;
	color: $color_5;
}

.bg {
	background-color: $background-color_9;
}
.bg-2 {
	background-color: $background-color_4;
}
.heading-wrap {
	margin-bottom: 25px;
	text-align: center;
	.main-heading {
		margin-bottom: 0;
		&::after{
			right: 0;
			margin: auto;
		}
	}	
}

.main-heading {
	font-size: 26px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 22px;
	color: $color_1;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 62px;
		border-top: 2px solid #edb114;
		left: 0;
		bottom: -2px;
		transition: 0.5s ease-in-out;
	}
	&:hover {
		&::after {
			width: 90px;
		}
	}
}
.heading-title {
	font-size: 16px;
	color: $color_3;
	font-family: $font-family_1;
	font-weight: 400;
	margin-bottom: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.sub-heading {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.global-space {
	padding: 60px 0;
}
.sub-space {
	margin-bottom: 40px;
	position: relative;
}
.btn-wraper {
	justify-content: center;
	align-items: center;
	display: flex;
}
.btn-primary {
	background-color: $background-color_3;
	color: $color_4;
	font-weight: 500;
	font-size: 16px;
	padding: 16px 22px;
	text-transform: uppercase;
	cursor: pointer;
	transform: all 0.3s;
	position: relative;
	border-radius: 0;
	border: none;
	&:before {
		content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		top: -5px;
		left: -5px;
		border-top: 1px solid #edb114;
		border-left: 1px solid #edb114;
		transition: all 0.25s;
	}
	&:after {
		content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		bottom: -5px;
		right: -5px;
		border-bottom: 1px solid #edb114;
		border-right: 1px solid #edb114;
		transition: all 0.3s;
	}
	&:hover {
		&:before {
			width: 104%;
			height: 110%;
		}
	}
}
button {
	&:hover {
		&:after {
			width: 104%;
			height: 110%;
		}
	}
}

.form-control {
	&:focus {
		border-color: $border-color_2 !important;
	}
}
.form-select {
	&:focus {
		border-color: $border-color_1 !important;
		box-shadow: none !important;
	}
}
