/*--root css--*/
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

@import '~/assets/css/libraries/bootstrap.scss';


$color_1: #000;
$color_2: #484848;
$color_3: #edb114;
$color_4: #fff;
$color_5: #333;
$color_6: #fef5de;
$color_7: #777777;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #fff;
$background-color_2: #eee;
$background-color_3: #edb114;
$background-color_4: #efefef;
$background-color_5: #ffffff;
$background-color_6: #eeeeee;
$background-color_7: #f3f5f8;
$background-color_8: #000;
$background-color_9: #fef5de;
$background-color_10: transparent;
$background-color_11: #f3f3f3;
$border-color_1: 0;
$border-color_2: #edb114;
$border-color_3: #edb114 transparent transparent transparent;

header {
	position: relative;
	width: 100%;
	z-index: 999;
	.top-header {
		background-color: $background-color_1;
		display: flex;
		align-items: center;
		padding: 10px 0;
		.navbar-brand {
			display: flex;
			justify-content: center;
			.logo {
				width: 180px;
			}
		}
		form {
			height: 48px;
			.form-select {
				width: 35%;
				background-color: $background-color_2;
				border: 1px solid #edb114;
				border-radius: 3px 0 0 3px;
				border-right: 0;
				cursor: pointer;
				font-size: 16px;
				font-weight: 500;
				color: $color_1;
				&:focus {
					box-shadow: none;
					border-color: $border-color_1;
				}
			}
			.form-control {
				border-radius: 0;
				border: 1px solid #edb114;
				border-left: 0;
				&:focus {
					box-shadow: none;
				}
				&::-moz-placeholder {
					font-size: 17px;
					font-weight: 600;
					color: $color_1;
				}
				&::placeholder {
					font-size: 17px;
					font-weight: 600;
					color: $color_1;
				}
			}
			.search-btn {
				background-color: $background-color_3;
				color: $color_1;
				border: 1px solid #edb114;
				border-radius: 0 3px 3px 0;
				padding: 0 18px;
				font-weight: 500;
				font-size: 16px;
				display: flex;
				align-items: center;
				span {
					margin: 0;
					color: $color_1;
					padding: 0 12px;
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
		.top-list {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			li {
				padding: 0 18px;
				position: relative;
				text-align: center;
				margin: 0;
				.text {
					font-size: 14px;
					font-weight: 700;
					color: $color_1;
					margin: 0;
				}
				a {
					text-decoration: none;
					i {
						font-size: 22px;
						transition: 0.5s ease-in-out;
						padding: 0;
					}
					&:hover {
						i {
							color: $color_1;
						}
					}
				}
				.sign-in.top {
					border: none;
					background: none;
					i {
						padding: 0;
					}
				}
				.btn-close {
					float: right;
					margin-bottom: 10px;
					padding: 0 12px;
					&:focus {
						box-shadow: none;
					}
				}
				#sign-form {
					display: none;
					position: absolute;
					z-index: 99;
					height: 360px;
					width: 300px;
					right: 0;
					top: 60px;
					background-color: $background-color_1;
					box-shadow: rgba(0, 0, 0, 0.07) 15px -10px 12px 17px;
					padding: 10px;
					border-radius: 10px;
					&::before {
						content: "";
						height: 28px;
						width: 28px;
						background-color: $background-color_1;
						position: absolute;
						z-index: -1;
						top: -7px;
						right: 30px;
						transform: rotate(45deg);
					}
					.contact-form {
						.field-wrapper {
							label {
								background-color: $background-color_4;
							}
							.text-field-input {
								background-color: $background-color_4;
							}
						}
					}
					form {
						.form-check {
							text-align: left;
							.form-check-input {
								cursor: pointer;
								border-radius: 3px;
								&:checked {
									background-color: $background-color_3;
									border-color: $border-color_2;
								}
								&:focus {
									box-shadow: 0 0 0 0.25rem rgba(255, 215, 158, 0.44);
								}
							}
							.form-check-label {
								cursor: pointer;
							}
							a {
								color: $color_2;
								transition: ease-in-out 0.3s;
								&:hover {
									color: $color_3;
								}
							}
						}
						.btn-wraper {
							.btn-primary {
								width: 85%;
								padding: 10px;
							}
						}
						.not-sign {
							text-align: center;
							p {
								margin-bottom: 0;
							}
							a {
								color: $color_1;
								transition: ease-in-out 0.4s;
								&:hover {
									color: $color_3;
								}
							}
						}
					}
				}
			}
		}
	}
	.navbar {
		background: #000;
		padding: 0;
		.navbar-toggler {
			border: none;
			&:focus {
				box-shadow: none;
			}
			.hamburger {
				.bar {
					display: block;
					width: 25px;
					height: 3px;
					margin: 5px auto;
					transition: all 0.3s ease-in-out;
					background-color: $background-color_5;
				}
			}
		}
		.hamburger.active {
			.bar {
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(1) {
					transform: translateY(8px) rotate(45deg);
				}
				&:nth-child(3) {
					transform: translateY(-8px) rotate(-45deg);
				}
			}
		}
		.logo {
			max-width: 180px;
		}
		.navbar-nav {
			align-items: center;
			.nav-item {
				margin: 0;
				font-size: 15px;
				.nav-link {
					color: $color_4;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 1px;
					font-family: $font-family_1;
					transition: 0.5s ease-in-out;
					text-transform: uppercase;
					padding: 0 12px;
				}
				.dropdown-toggle {
					&::after {
						margin-left: 0.255em;
						vertical-align: 0.255em;
						content: url("../img/icons/menu.svg");
						border: 0;
						position: relative;
						top: 5px;
						filter: invert(87%) sepia(40%) saturate(2939%) hue-rotate(342deg) brightness(95%) contrast(109%);
					}
				}
				.dropdown-toggle.show {
					&::after {
						transform: rotate(180deg);
					}
				}
				.dropdown-menu {
					background: #eeeeee;
					border: none;
					border-radius: 0;
					position: absolute;
					top: 40px;
					box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 12px 3px;
					&::before {
						content: "";
						height: 28px;
						width: 28px;
						background-color: $background-color_6;
						position: absolute;
						z-index: -1;
						top: -7px;
						left: 5px;
						transform: rotate(45deg);
					}
					li {
						border-bottom: 1px solid #e3e3e3;
						position: relative;
						&:nth-child(6) {
							border-bottom: none;
						}
						&::after {
							content: url(../img/icons/angle.svg);
							border: 0;
							position: absolute;
							top: 5px;
							right: 8px;
							transform: rotate(360deg);
						}
						.dropdown-item {
							color: $color_1;
							font-size: 15px;
							font-weight: 400;
							text-transform: capitalize;
							padding-right: 30px;
							transition: 0.5s ease-in-out;
							&:hover {
								color: $color_3;
								background: none;
							}
						}
					}
				}
				.btn-wrapper {
					margin: 0;
				}
			}
		}
		.social-nav {
			.list-item {
				margin: 0;
				&:nth-child(1) {
					margin: 0;
					position: relative;
					z-index: 9;
					padding: 0 10px;
					display: flex;
					justify-content: center;
					&::before {
						content: "";
						background-color: $background-color_3;
						position: absolute;
						height: 100%;
						width: 100%;
						z-index: -1;
					}
				}
				a {
					color: $color_4;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 1px;
					font-family: $font-family_1;
					transition: 0.5s ease-in-out;
					text-transform: uppercase;
					color: $color_1;
					text-align: center;
				}
			}
			.social-handle {
				display: flex;
				align-items: center;
				.nav-item {
					&:nth-child(1) {
						color: $color_4;
						font-size: 14px;
						font-weight: 400;
						letter-spacing: 1px;
						font-family: $font-family_1;
						transition: 0.5s ease-in-out;
						text-transform: uppercase;
						margin: 0 14px;
					}
					.nav-link {
						padding: 0;
						font-size: 16px;
						i {
							color: $color_4;
							transition: 0.5s ease-in-out;
							&:hover {
								color: $color_3;
							}
						}
					}
				}
			}
		}
	}
}
.sticky {
	position: fixed;
	width: 100%;
	background-color: $background-color_7;
	box-shadow: 3px 2px 2px rgba(57, 63, 72, 0.15);
	.navbar {
		.logo {
			background-color: $background-color_3;
			padding: 12px 18px;
			border-radius: 1rem 0;
		}
		.nav-item {
			.nav-link {
				color: $color_3 !important;
			}
			.dropdown-menu {
				color: $color_3 !important;
			}
		}
	}
}
footer {
	background-color: $background-color_8;
	.heading {
		color: $color_4;
		font-size: 22px;
		font-weight: 600;
	}
	.list {
		margin-top: 28px;
		.item {
			.link {
				color: $color_4;
				text-decoration: none;
				transition: 0.5s ease-in-out;
				font-size: 15px;
				&:hover {
					color: $color_3;
				}
			}
		}
		.social-link {
			a {
				i {
					font-size: 28px;
					transition: 0.5s ease-in-out;
				}
				&:hover {
					i {
						color: $color_4;
					}
				}
			}
		}
	}
	.footer-bottom {
		border-top: 1px solid #747474;
		padding: 28px 0;
		margin-top: 18px;
		.footer-logo {
			width: 190px;
		}
		.copyright-text {
			color: $color_4;
			float: right;
			font-size: 14px;
		}
	}
	.go-to-top {
		position: fixed;
		right: 10px;
		bottom: 10rem;
		float: right;
		text-align: center;
		.sticky-wraper {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			padding: 20px;
			background-color: $background-color_3;
			display: flex;
			align-items: center;
			i {
				color: $color_1;
			}
		}
		.text {
			color: $color_4;
		}
	}
}
html {
	overflow-x: hidden;
	font-family: $font-family_1;
	font-size: 16px;
	padding: 0 !important;
	margin: 0;
}
body {
	overflow-x: hidden;
	font-family: $font-family_1;
	font-size: 16px;
	padding: 0 !important;
	margin: 0;
}
p {
	font-size: 16px;
	color: $color_2;
	line-height: 25px;
	margin-bottom: 10px;
	font-family: $font-family_1;
}
ul {
	li {
		font-size: 16px;
		color: $color_2;
		line-height: 25px;
		margin-bottom: 10px;
		font-family: $font-family_1;
		list-style: none;
		padding: 0;
		margin-bottom: 10px;
	}
	padding: 0 !important;
	padding: 0;
	margin: 0;
	i {
		padding-right: 12px;
		color: $color_3;
	}
}
span {
	font-size: 16px;
	color: $color_2;
	line-height: 25px;
	margin-bottom: 10px;
	font-family: $font-family_1;
}
a {
	text-decoration: none !important;
	color: $color_3;
}
h1 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h2 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h3 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h4 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h5 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
h6 {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 500;
}
strong {
	font-weight: 600;
	color: $color_5;
}
.bg {
	background-color: $background-color_9;
}
.bg-2 {
	background-color: $background-color_4;
}
.heading-wrap {
	margin-bottom: 25px;
	.main-heading {
		margin-bottom: 0;
	}
	.text {
		text-align: center;
		margin: 0;
		display: none;
	}
}
.main-heading {
	font-size: 26px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 22px;
	color: $color_1;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 62px;
		border-top: 2px solid #edb114;
		left: 0;
		bottom: -2px;
		transition: 0.5s ease-in-out;
	}
	&:hover {
		&::after {
			width: 90px;
		}
	}
}
.heading-title {
	font-size: 16px;
	color: $color_3;
	font-family: $font-family_1;
	font-weight: 400;
	margin-bottom: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.sub-heading {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.global-space {
	padding: 60px 0;
}
.sub-space {
	margin-bottom: 40px;
	position: relative;
}
.btn-wraper {
	justify-content: center;
	align-items: center;
	display: flex;
}
.btn-primary {
	background-color: $background-color_3;
	color: $color_4;
	font-weight: 500;
	font-size: 16px;
	padding: 16px 22px;
	text-transform: uppercase;
	cursor: pointer;
	transform: all 0.3s;
	position: relative;
	border-radius: 5px;
	border: none;
	&:before {
		content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		top: -5px;
		left: -5px;
		border-top: 1px solid #edb114;
		border-left: 1px solid #edb114;
		transition: all 0.25s;
	}
	&:after {
		content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		bottom: -5px;
		right: -5px;
		border-bottom: 1px solid #edb114;
		border-right: 1px solid #edb114;
		transition: all 0.3s;
	}
	&:hover {
		&:before {
			width: 104%;
			height: 110%;
		}
	}
}
button {
	&:hover {
		&:after {
			width: 104%;
			height: 110%;
		}
	}
}
.form-control {
	&:focus {
		border-color: $border-color_2 !important;
	}
}
.form-select {
	&:focus {
		border-color: $border-color_1 !important;
		box-shadow: none !important;
	}
}
.hero-wrap {
	padding: 30px 0;
	.carousel {
		position: relative;
		height: 100%;
		.carousel-inner {
			height: 100%;
			.carousel-item {
				height: 100%;
				height: 100%;
				img {
					height: 100%;
				}
			}
		}
	}
	.aside-right {
		&:nth-child(1) {
			margin-bottom: 10px;
		}
		background-color: $background-color_9;
		padding: 18px 10px;
		.heading {
			font-size: 24px;
			font-weight: 700;
			margin: 0;
			color: $color_1;
			text-transform: uppercase;
		}
		.text {
			font-size: 14px;
			font-weight: 500;
			color: $color_1;
			line-height: 22px;
		}
		.detail-link {
			font-size: 15px;
			font-weight: 700;
			color: $color_3;
			text-transform: uppercase;
			float: right;
		}
	}
	.box-wraper {
		box-shadow: 7px 0px 28px -3px rgba(0, 0, 0, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 18px;
		.icons-box {
			text-align: center;
			img {
				margin-bottom: 8px;
			}
			.heading {
				font-size: 18px;
				font-weight: 600;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}
.carousel-indicators {
	[data-bs-target] {
		height: 7px !important;
		width: 7px !important;
		border-radius: 50%;
	}
	margin-bottom: 5px !important;
}
.product-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	&::after {
		content: "";
		height: calc(100% + 1px);
		width: calc(100% + 14px);
		border-right: 1px solid #e3e3e3;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		z-index: 1;
	}
	.product-name {
		font-size: 14px;
		font-weight: 600;
		color: $color_1;
		padding-left: 10px;
		margin: 0;
	}
	img {
		-o-object-fit: contain;
		object-fit: contain;
	}
}
.our-suppliers {
	.col-lg-2 {
		padding: 0 !important;
		.product-wrap {
			&::after {
				width: calc(100% + 1px);
			}
		}
	}
}
.supplie-wrap {
	.callto-action {
		background-color: $background-color_1;
		.left-wraper {
			position: relative;
			img {
				-o-object-fit: contain;
				object-fit: contain;
				height: 385px;
			}
			.btn-primary {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 32px;
				margin: auto;
				width: -moz-fit-content;
				width: fit-content;
				height: -moz-fit-content;
				height: fit-content;
			}
		}
		.card {
			background-color: $background-color_10;
			text-align: center;
			position: relative;
			border-radius: 0;
			border: none;
			&::before {
				content: "";
				position: absolute;
				z-index: 0;
				height: 100%;
				width: 100%;
				border-left: 1px solid #dee2e6;
				left: -12px;
				top: 5px;
			}
			.heading {
				font-size: 16px;
				font-weight: 600;
				color: $color_1;
				margin: 0 0 20px;
			}
			img {
				height: 150px;
				-o-object-fit: contain;
				object-fit: contain;
				padding: 10px;
			}
		}
	}
}
.product-sec-wraper {
	border-top: 4px solid #edb114;
	padding: 30px 0 0;
}
.form {
	background-color: $background-color_11;
	padding: 10px 22px;
	.contact-form {
		padding: 24px 12px;
		.field-wrapper {
			display: block;
			margin-bottom: 22px;
			position: relative;
			outline: none;
			width: 100%;
			label {
				white-space: nowrap;
				overflow: hidden;
				font-size: 15px;
				position: absolute;
				top: 4px;
				display: inline-block;
				background: #fff;
				margin: 8px 5px;
				line-height: 1.4em;
				padding: 0 10px;
				transition: all 0.2s linear;
				text-transform: capitalize;
				font-weight: 400;
			}
			input {
				padding: 10px 15px;
				width: 100%;
				border-radius: 3px;
				border: none;
				height: 48px;
				color: $color_2;
				background-color: $background-color_1;
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
			textarea {
				height: 100px;
				width: 100%;
				padding: 10px 15px;
				resize: none;
				color: $color_2;
				border-radius: 3px;
				border: none;
				background-color: $background-color_1;
			}
			.text-field-input {
				&:focus {
					border: 1px solid #edb114;
				}
				&:focus-visible {
					outline: none;
				}
			}
			input[type=number] {
				-webkit-appearance: textfield;
				-moz-appearance: textfield;
				appearance: textfield;
				padding-left: 55px;
			}
		}
		.number {
			label {
				margin-left: 82px;
				z-index: 1;
			}
		}
		.field-wrapper.focused {
			label {
				transition: all 0.2s linear;
				top: -20px;
			}
		}
		.btn-wrapper {
			.global-btn {
				background-color: $background-color_3;
				color: $color_6;
			}
		}
	}
}
.contact-right {
	height: 100%;
	padding: 20px 32px;
	position: relative;
	right: -12px;
	display: flex;
	align-items: center;
	.text-wrap {
		.heading {
			font-size: 42px;
			font-weight: 400;
		}
		.text {
			margin: 0;
			font-size: 18px;
			font-weight: 300;
		}
	}
	.card-wrap {
		padding: 10px;
		margin: 18px 0;
		position: relative;
		.icon {
			display: grid;
			justify-content: center;
		}
		.text {
			text-align: center;
			margin: 10px 0;
		}
	}
	.dotted-animation {
		&::before {
			content: "";
			position: absolute;
			top: 25px;
			right: -16px;
			width: 100px;
			height: 50px;
			border-top: solid 2px #edb114;
			border-right: solid 3px #edb114;
			border-color: $border-color_3;
			border-radius: 100%;
			transform: rotate(24deg);
			border-style: dashed;
		}
		&::after {
			content: "";
			position: absolute;
			top: 18px;
			right: -94px;
			width: 96px;
			height: 50px;
			border-top: solid 2px #edb114;
			border-right: solid 3px #edb114;
			border-color: $border-color_3;
			border-radius: 100%;
			transform: rotate(192deg);
			border-style: dashed;
		}
	}
	.arrow {
		&::after {
			content: ">";
			position: absolute;
			font-size: 25px;
			color: $color_3;
			right: -100px;
			top: 50px;
			margin: auto;
			bottom: 0;
			font-weight: 300;
			transform: rotate(-25deg);
		}
	}
}
.cta-link {
	float: right;
	color: $color_1;
	transition: 0.5s ease-in-out;
	font-size: 15px;
	font-weight: 600;
	&:hover {
		color: $color_3;
	}
}
.buyer-sec {
	.all-buyer-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-bottom: 32px;
		padding: 8px 10px;
		border: 1px solid #edb114;
		img {
			width: 55px;
			height: 55px;
			-o-object-fit: contain;
			object-fit: contain;
		}
		.product-name {
			font-size: 15px;
			font-weight: 400;
			color: $color_1;
			padding-left: 12px;
			margin: 0;
		}
	}
	.buyer-wraper {
		.card {
			box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11);
			margin-bottom: 22px;
			border: none;
			.card-header {
				background-color: $background-color_3;
				border-radius: 0;
				border: none;
				.text {
					margin: 0;
					color: $color_4;
				}
			}
			.card-body {
				.country {
					font-size: 17px;
					font-weight: 700;
					text-transform: uppercase;
					margin: 0;
				}
				img {
					margin-bottom: 15px;
				}
				ul {
					li {
						font-size: 14px;
					}
					.heading {
						font-weight: 600;
					}
				}
			}
		}
	}
}
.sell-wrap {
	padding: 15px 10px;
	position: relative;
	z-index: 99;
	height: 100%;
	.text {
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		color: $color_1;
	}
	.heading {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	.list {
		margin: 0;
		li {
			position: relative;
			margin: 0;
			font-size: 16px;
			color: $color_1;
			&::before {
				content: url(../img/icons/tick.png);
				position: relative;
				padding-right: 10px;
			}
		}
	}
}
.sell-wrap.odd {
	background-color: $background-color_9;
	&::after {
		content: "";
		width: 70px;
		height: 70px;
		position: absolute;
		z-index: -1;
		right: -5px;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: $background-color_9;
		transform: rotate(45deg);
	}
}
.sell-wrap.even {
	background-color: $background-color_1;
	img {
		box-shadow: 4px 0px 28px 3px rgba(0, 0, 0, 0.1);
		border-radius: 50%;
	}
}
.categorie-wrap {
	padding: 8px 10px;
	background-color: $background-color_5;
	margin-bottom: 18px;
	border: none;
	box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	ul {
		margin: 0;
		li {
			position: relative;
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			color: $color_1;
			&::before {
				content: "›";
				position: relative;
				font-size: 28px;
				margin: 10px 10px 0 0;
				top: 4px;
				color: $color_3;
				font-weight: 300;
			}
			a {
				font-size: 14px;
				font-weight: 500;
				color: $color_1;
				transition: 0.5s ease-in-out;
				&:hover {
					color: $color_3;
				}
			}
		}
	}
	.sub-heading {
		color: $color_1;
		transition: 0.5s ease-in-out;
		&:hover {
			color: $color_3;
		}
	}
	hr {
		border-top: 1px solid #000;
		opacity: 1;
		margin: 10px 0 20px;
	}
}
.review-wraper {
	.revews-cta {
		a {
			&:hover {
				color: $color_3;
			}
		}
	}
}
#carousel-review {
	.heading {
		font-size: 22px;
	}
}
.fa-quote-left {
	font-size: 80px;
	color: $color_7;
}
.buy-banner {
	background-color: $background-color_3;
	padding: 25px 0;
	.heading-wraper {
		display: flex;
		align-items: center;
		justify-content: end;
		height: 100%;
		.main-heading {
			margin-bottom: 0;
		}
	}
	.btn-primary {
		background-color: $background-color_7;
		font-size: 20px;
		font-weight: 600;
		color: $color_3;
	}
}
.accordion-item {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.accordion-title {
	padding: 10px;
	cursor: pointer;
	.fa-chevron-down {
		float: right;
		transition: 0.4s all ease-in-out;
	}
}
.accordion-content {
	padding: 10px;
	display: none;
	.list-item {
		.item {
			border-bottom: 1px solid #edb114;
			&:nth-last-child(1) {
				border-bottom: none;
			}
			a {
				font-size: 14px;
				color: $color_1;
			}
			i {
				float: right;
				padding: 0;
			}
		}
	}
}
.accordion-content.active {
	display: block;
	.contentArea {
		transition: 0.4s all ease-in-out;
	}
}
.accordion-title.active {
	background-color: $background-color_3;
	color: $color_4;
	.fa-chevron-down {
		transform: rotate(180deg);
	}
}
@media screen and (min-width: 992px) {
	header {
		.navbar {
			.navbar-nav {
				.nav-item {
					.dropdown-menu {
						display: none;
						transition: 0.5s ease-in-out;
					}
					&:hover {
						.dropdown-menu {
							display: block;
						}
						.dropdown-toggle.show {
							header {
								.navbar {
									.navbar-nav {
										.nav-item {
											&::after {
												transform: rotate(180deg);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 991px) {
	.heading-wrap {
		padding: 0;
		position: relative;
		z-index: 2;
		margin-bottom: 22px;
		.heading-title {
			text-align: center;
		}
	}
	header {
		.navbar {
			.navbar-nav {
				background-color: $background-color_3;
				padding: 20px;
				align-items: flex-start;
				.nav-item {
					margin-bottom: 10px;
					.dropdown-menu {
						position: relative;
						left: 28px;
					}
				}
			}
		}
	}
	.header.sticky {
		.navbar {
			.navbar-toggler {
				.hamburger {
					.bar {
						background-color: $background-color_3;
					}
				}
			}
			.nav-item {
				.nav-link {
					color: $color_4 !important;
				}
				.dropdown-toggle {
					&::after {
						filter: invert(1) brightness(6.5) !important;
					}
				}
			}
		}
	}
}
@media screen and (min-width:991.1px) {
	.mobile-view {
		display: none;
	}
	.mobile-product-wrap {
		display: none;
	}
	.mobile-footer {
		display: none;
	}
}
@media screen and (max-width:991px) {
	header {
		.top-header {
			.navbar-brand {
				.logo {
					margin: 0;
				}
			}
			.top-list {
				li {
					position: static;
					display: none;
					.sign-in.top {
						position: absolute;
						top: 18px;
						right: 22px;
						display: block;
						i {
							font-size: 22px;
							color: $color_1;
						}
					}
					.text {
						display: none;
					}
					&:nth-last-child(1) {
						display: block !important;
					}
				}
			}
			form {
				margin: 12px 0 0;
			}
		}
		.navbar {
			position: static;
			background: none;
			.navbar-toggler {
				.hamburger {
					.bar {
						background-color: $background-color_8;
					}
				}
			}
		}
	}
	.hamburger {
		position: absolute;
		top: 18px;
	}
	.hero-wrap {
		padding: 0;
		.aside-right {
			.heading {
				text-align: center;
			}
			.text {
				text-align: center;
			}
			.detail-link {
				float: none;
				display: flex;
				justify-content: center;
			}
		}
	}
	.carousel-item {
		img {
			margin: 0;
            height: 200px!important;
            object-fit: cover;
		}
	}
	.desktop-view {
		display: none;
	}
	.buy-banner {
		display: none;
	}
	.form-section {
		display: none;
	}
	.desktop-footer {
		display: none;
	}
	.aside-right {
		display: none;
	}
	.desktop-product-wrap {
		display: none !important;
	}
	.mobile-product-wrap {
		.product-list {
			display: flex;
			justify-content: space-between;
		}
		.product-wrap {
			display: grid;
			.product-name {
				padding: 0;
				font-size: 10px;
				font-weight: 500;
				line-height: 0;
			}
			img {
				height: 50px;
				width: 50px;
				object-fit: contain;
				border: 1px dashed #edb114;
				border-radius: 50%;
				padding: 6px;
				margin-bottom: 10px;
			}
		}
		.item {
			text-align: center;
            margin-bottom: 18px;
		}
	}
	.our-suppliers {
		.product-wrap {
			padding:7px;
		}
	}
	.sell-wrap {
		height: fit-content;
		margin-bottom: 10px;
	}
}
@media screen and (max-width:767px) {
	p {
		font-size: 14px;
	}
	ul {
		li {
			font-size: 14px;
		}
	}
	span {
		font-size: 14px;
	}
	.heading-title {
		font-size: 13px;
		text-align: center;
	}
	.main-heading {
		font-size: 20px;
	}
	.sub-heading {
		font-size: 16px;
	}
	.global-space {
		padding: 18px 0;
	}
	.hero-wrap {
		.box-wraper {
			padding: 0;
			.icons-box {
				.heading {
					font-size: 8px;
				}
			}
		}
	}
	.product-wrap {
		&::after {
			display: none;
		}
	}
	.cta-link {
		display: none;
	}
	header {
		.top-header {
			form {
				.form-select {
					display: none;
				}
				.form-control {
					border-left: 1px solid #edb114;
                    border-radius: 3px 0 0 3px;
				}
                .search-btn{
                    padding: 0 7px;
                }
			}
		}
	}
}
