
$color_1: #000;
$color_2: #484848;
$color_3: #edb114;
$color_4: #fff;
$color_5: #333;
$color_6: #fef5de;
$color_7: #777777;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #fff;
$background-color_2: #eee;
$background-color_3: #edb114;
$background-color_4: #efefef;
$background-color_5: #ffffff;
$background-color_6: #eeeeee;
$background-color_7: #f3f5f8;
$background-color_8: #000;
$background-color_9: #fef5de;
$background-color_10: transparent;
$background-color_11: #f3f3f3;
$border-color_1: 0;
$border-color_2: #edb114;
$border-color_3: #edb114 transparent transparent transparent;

